body {
    background-color: rgb(30, 30, 30);
}

.main-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #664ef2;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
}

.form-box {
    background-color: rgb(41, 41, 41);
    width: 400px;
    padding: 10PX;
    margin: auto;
    border: 1px solid rgb(41, 41, 41);
    border-radius: 10px;
    box-shadow: 20px 20px 50px 10px black;
}

.form-title {
    color: #664ef2;
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.form-username, .form-password {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(200, 200, 200);
    font-size: 13px;
    font-weight: bold;
    background-color: rgb(50, 50, 50);
    width: 300px;
    height: 40px;
    padding-left: 10px;
    margin: 10px;
    border: 2px solid rgb(50, 50, 50);
    border-left: 5px solid rgb(69, 69, 69);
    border-radius: 5px;
}

.ini-ses-button {
    color: rgb(195, 195, 195);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #664ef2;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #664ef2;
    margin: 10px;
    padding: 5px;

}