# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
*.egg-info/
dist/
build/

#user
**/__pycache__/
**/01_interfaz_tk.py/
**/tempCodeRunnerFile.py/

# JavaScript / Node
node_modules/
.npm
*.log
.env
dist/

# Editores
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
